<a id="firmsonmap_biglink" href="http://maps.2gis.ru/#/?history=project/ussuriysk/center/131.97622896325,43.789859520537/zoom/16/state/widget/id/11681739814471260/firms/11681739814471260">Перейти к большой карте</a>
<script charset="utf-8" type="text/javascript" src="http://firmsonmap.api.2gis.ru/js/DGWidgetLoader.js"></script>
<script charset="utf-8" type="text/javascript">new DGWidgetLoader({"borderColor":"#a3a3a3","width":"770","height":"500","wid":"21f4e6a99469f5d29baf8c201b1ed923","pos":{"lon":"131.97622896325","lat":"43.789859520537","zoom":"16"},"opt":{"ref":"hidden","card":["name","contacts","schedule","payings"],"city":"ussuriysk"},"org":[{"id":"11681739814471260"}]});</script>
<noscript style="color:#c00;font-size:16px;font-weight:bold;">Виджет карты использует JavaScript. Включите его в настройках вашего браузера.</noscript>
