- page_title "Доставка"
h2 Стоимость доставки
p
p Бесплатно автотранспортом по г. Уссурийску и по всему Приморскому краю, Хабаровскому краю. Доставка транспортными компаниями (ЖД, судоходными) или любым удобным для Вас способом.
p
h2 Время доставки
p
| Время доставки согласовывается с менеджером Службы доставки, который обязательно свяжется с Вами сразу после того, как Вы разместите свой заказ.
p
font color="#FF0000" 
b Внимание!
| Неправильно указанный номер телефона, неточный или неполный адрес могут привести к дополнительной задержке! Пожалуйста, внимательно проверяйте Ваши персональные данные при регистрации и оформлении заказа. Конфиденциальность ваших регистрационных данных гарантируется.
p
p
| Доставка выполняется ежедневно с 10:00 до 18:00 часов по гор. Уссурийску, в субботу с 10:00 до 15:00, в воскресенье доставки нет.
p
p
| Телефон менеджера по гор. Уссурийску – (4234) 35-55-09
p
p
| Товары, заказанные Вами в субботу и воскресенье, доставляются в понедельник. Время осуществления доставки зависит от времени размещения заказа и наличия товара на складе.
p
p
| Доставка в регионы Приморского края выполняется ежедневно по графику, который Вы можете узнать у менеджеров Службы доставки.
p
p
| Телефон региональных менеджеров – (4234) 35-55-08
p
p
| Вы также можете указать любое другое удобное время доставки, и покупка будет доставлена в удобное Вам время. Иное время доставки, а также время доставки в населенные пункты области определяется по договоренности с клиентом.
h2 Место доставки
p
| Доставка осуществляется по адресу, указанному при оформлении заказа. Если необходимо доставить товар по иному адресу, необходимо сообщить адрес менеджеру Службы доставки, который свяжется с Вами непосредственно после оформления заказа.
p
  font color="#FF0000" 
    b Внимание!
  | Просим Вас помнить, что все технические параметры и потребительские свойства приобретаемого товара Вам следует уточнять у нашего менеджера до момента покупки товара. При доставке Вам заказанного товара проверяйте комплектность доставленного товара,&nbsp; проверьте товар на наличие механических повреждений. При не заявлении Вами при получении товара претензий по поводу механических повреждений, в дальнейшем подобные претензии не рассматриваются. В случае вопросов, пожеланий и претензий обращайтесь к нам по следующим координатам:

p

p
  b> Служба доставки
  | \: 8 (4234) 35-55-08, 35-55-17,35-55-09
p
  b> Электронная почта
  | \:
  a href="mailto:planeta_avto@mail.primorye.ru"  planeta_avto@mail.primorye.ru
