.activity-group
	.activity-group-user
		font-size: 12px
		font-weight: bold
	ul.activity-group-activities
		list-style: none
		border: 1px solid #ccc
		padding: 0px
		li.activity-group-activity
			.activity-group-activity-date
				font-size: 10px
				color: #555
				padding: 0px 10px
		li.success
			background: #62cb31
		li.danger
			background: #e74c3c
		li.info
			background: #3498db
		li.warning
			background: #e67e22