.focus-checker
	padding: 0px 10px
	font-size: 10px
	font-weight: bold

.panel-user-short-info
	.block-info
		border-bottom: 1px dashed #ccc
		padding-bottom: 8px
		padding-top: 8px
		&:last-child
			border-bottom: 0px
			padding-bottom: 0px
		&:first-child
			padding-top: 0px
		span.title
			display: block
			font-size: 10px
			line-height: 8px
		span.info
			display: block
			font-weight: bold
			font-size: 13px
.login-table
	.right
		width: 200px

.panel-scroll
	overflow: auto

.user-tabs
	.activity-group 
		ul.activity-group-activities
			border-top: none
			border-bottom: none

.panel-menu
	padding: 0!important
	ul
		overflow: hidden
		padding: 0px
		li
			float: left
			width: 100%
			a
				padding: 10px 15px
				display: block

.user-list
	ul
		padding: 0px
		list-style: none
		li
			display: block
			float: left
			width: 100%
			border-bottom: 1px solid #ccc
			padding: 5px 10px
			.name
				font-size: 15px
				font-weight: bold
			.city
				font-size: 11px
				color: #888
				padding: 0px 10px
			.dd
				width: 20%
				float: left
				text-align: center
