html
	min-height: 100%

.app
	min-height: 100%
	
body
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	color: #333333!important
	min-height: 100%
	background: #f6f5f3

.wrapper
	width: 100%
	min-height: 100%
	padding-top: 10px
	
.app_load
	display: block!important

.inner-block
	width: 1180px
	margin: 0 auto
	.left-bar
		width: 210px
		float: left
		margin-left: 5px
	.content
		width: 955px
		float: right
		.content-title
			height: 30px
	.content-center
		width: 800px
		margin: 0 auto

.center
	text-align: center

.visible

.invisible
	display: none
.navbar
	border-radius: 0px
	display: none
	box-shadow: 0px -2px 7px rgba(0,0,0,0.3)

.cursor-pointer
	cursor: pointer
.icon-destroy
	font-size: 14px
	&:hover
		color: red

.bold
	font-weight: bold

.shadowed
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1)
	&:hover
		box-shadow: 0 1px 4px rgba(0,0,0,.3)!important

.login-table
	border: 0px
	background: transparent
	tr
	.login-lable
		width: 200px
	.required
		font-weight: bold